body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0c2e9;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    min-height: 110px;
    display: flex;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

canvas {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.input-group {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.input-group button {
    border: none;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #0056b3;
}
